@import '../base/variables.scss';

.accordion {
    .grid {
        @media screen and (min-width: 1024px) {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 12%;
        }

        &_left {
            margin-bottom: 60px;

            @media screen and (min-width: 1024px) {
                margin-bottom: 0;
            }

            h2 {
                font-size: 2.5rem;
                line-height: calc(35/40);
                margin-bottom: 50px;
                max-width: 300px;
                font-weight: 700;
            }

            hr {
                margin-bottom: 50px;
            }

            p {
                font-weight: 400;
                font-size: 1.125rem;
            }

        }

        &_right {
            .collapsable_section {
                position: relative;
                margin-bottom: 60px;
                padding-left: 60px;

                :global(.accordion__button) {
                    cursor: pointer;

                    .expand_icon {
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        border-radius: 15px;
                        background-color: $darkBlue;
                        left: 0;
                        top: 0;

                        &_bar {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 16px;
                            height: 2px;
                            background-color: white;
                            border-radius: 2px;

                            &:first-child {
                                transform: translate(-50%, -50%) rotate(90deg);
                                transition: all 250ms;
                            }
                        }
                    }

                    h3,
                    h4 {
                        font-size: 1.3125rem;
                        line-height: calc(28/18);
                        text-transform: uppercase;
                        margin-bottom: 0;
                    }

                    h3 {
                        color: $darkBlue;
                        font-weight: 700;
                    }


                    h4 {
                        font-weight: 400;
                    }

                    &[aria-expanded="true"] {
                        .expand_icon {

                            &_bar {

                                &:first-child {
                                    transform: translate(-50%, -50%) rotate(0);
                                }
                            }
                        }

                    }


                }

                &_hidden {
                    padding-top: 50px;
                }
            }
        }
    }
}