@import '../base/variables.scss';

.load_more {
    width: 100%;
    display: flex;

    hr {
        flex: 1;
    }

    button {
        text-align: center;
        background: none;
        text-transform: uppercase;
        color: $darkBlue;
        padding: 40px;

        &:hover {
            color: $darkGray;
        }
    }
}