@import '../base/variables.scss';

.contact_panel {
    padding-bottom: 60px;

    h2 {
        margin-bottom: 50px;

        @media screen and (min-width: 1024px) {
            width: calc((100% - 18%) / 3);
        }
    }

    .grid {
        @media screen and (min-width: 1024px) {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 18%;
        }

        &_left {
            border-top: 1px solid $lightGray;
            padding-top: 50px;
        }

        &_right {
            .form_grid {
                display: grid;
                grid-template-columns: 1fr;
                gap: 50px 30px;
                margin-bottom: 50px;

                @media screen and (min-width: 1024px) {
                    grid-template-columns: 1fr 1fr;
                }

                label {
                    display: block;
                    font-weight: 700;
                    font-size: 1.125rem;
                }

                input {
                    width: 100%;
                    border: 0;
                    border-bottom: 1px solid $medGray;
                    padding: 8px 0;
                }

            }

            .agreement {
                margin-bottom: 50px;
                display: flex;
                align-items: center;

                input {
                    margin-right: 20px;
                }

                label {

                    p {
                        margin-bottom: 0;
                    }
                }
            }

            .status {
                margin-top: 50px;

                .sending {
                    color: $blue;
                }

                .error {
                    color: tomato;
                }

                .success {
                    color: $blue;
                }
            }
        }
    }
}