@import '../base/variables.scss';

$menuPaddingTop: 200px;
$menuPaddingBot: 100px;

@media screen and (min-width: 768px) {
    $menuPaddingTop: 150px;
    $menuPaddingBot: 75px;
}

header.header {
    .content {
        padding: 34px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 80%;
            max-width: 450px;
        }

        nav {
            position: fixed;
            transition: all 500ms;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: white;
            z-index: 1;

            &.inactive {
                transform: translateX(100%);
            }

            &.active {
                transform: translateX(0);
            }

            .closeNav {
                background-color: transparent;
                border: 1px solid $lightBlue;
                background-image: url('/img/close.svg');
                background-size: 20px;
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                cursor: pointer;
                width: 60px;
                height: 60px;
                border-radius: 30px;
                top: 20px;
                right: 20px;
                z-index: 3;

                @media screen and (min-width: 768px) {
                    width: 100px;
                    height: 100px;
                    border-radius: 50px;
                    top: 50px;
                    right: 50px;
                }
            }

            ul {
                margin-left: 0;
                font-weight: 200;
                list-style: none;
            }

            .topMenu {
                padding: 0;
                text-transform: uppercase;
                text-align: left;
                width: 100%;
                height: 100%;
                overflow: auto;


                .container {

                    ul.topMenuList {
                        font-size: 12vw;
                        padding-top: $menuPaddingTop;
                        padding-bottom: $menuPaddingBot;
                        line-height: 1;

                        @media screen and (min-width: 768px) {
                            font-size: 6vw;
                        }

                        >li {
                            padding: 8px 0;

                            @media screen and (min-width: 768px) {
                                padding: 8px 0;
                            }

                            &:nth-child(5n+1) {
                                color: $lightBlue
                            }

                            &:nth-child(5n+2) {
                                color: $medBlue
                            }

                            &:nth-child(5n+3) {
                                color: $blue
                            }

                            &:nth-child(5n+4) {
                                color: $darkBlue
                            }

                            &:nth-child(5n+5) {
                                color: $darkGray
                            }

                            button {
                                font-size: inherit;
                                font-family: inherit;
                                color: inherit;
                                background-color: transparent;
                                border: 0;
                            }
                        }

                        .subMenuButton {
                            padding-right: 50px;
                            background-image: url('/img/arrow-circle-right.svg');
                            background-position: right center;
                            background-size: 24px;
                            background-repeat: no-repeat;

                            @media screen and (min-width: 768px) {
                                background-size: 30px;
                                padding-right: 100px;
                            }
                        }

                        .subMenu {
                            position: fixed;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            color: white;
                            background-color: $darkBlue;
                            transition: 500ms;
                            z-index: 2;
                            overflow: auto;

                            &.active {
                                transform: translateX(0);
                            }

                            &.inactive {
                                transform: translateX(-200%);
                            }

                            ul {
                                font-size: 2rem;
                                padding-top: $menuPaddingTop;
                                padding-bottom: $menuPaddingBot;

                                li {
                                    line-height: 1;

                                    a,
                                    button {
                                        padding: 16px 50px;
                                        display: block;

                                        @media screen and (min-width: 768px) {
                                            padding: 16px 72px;
                                        }
                                    }

                                    &:first-child {
                                        font-weight: 400;
                                        background-image: url('/img/arrow-circle-left.svg');
                                        background-size: 30px;
                                        background-position: left center;
                                        background-repeat: no-repeat;
                                    }

                                    &:not(:last-child) {
                                        border-bottom: 1px solid $lightBlue;
                                    }

                                    &:last-child {
                                        a {
                                            padding-left: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }


            }
        }
    }
}