@import '../base/variables.scss';

.home_banner {

    .image{
        display: none;
        width: 100%;

        @media screen and (min-width: 1024px) {
            display: block;
        }
    }
    .mobile_image{
        display: block;
        width: 100%;

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }

    .copy {
        position:absolute;
        top:140px;

        @media screen and (min-width: 768px) {
            top:250px;
        }

        @media screen and (min-width: 1024px) {
            top:200px;
        }
        

        h2{
            max-width: 1000px;
            font-size: 2rem;
            color:$darkBlue;
            font-weight: 700;
            letter-spacing: 2px;
            line-height: 0.9;
            margin-top: 10px;
            margin-bottom: 10px;

            @media screen and (min-width: 768px) {
                font-size: 5rem;
                letter-spacing: 4px;
            }
        }
        h3{
            max-width: 1000px;
            font-size: 1.4rem;
            color:$medBlue;
            font-weight: 700;
            letter-spacing: 2px;
            line-height: 0.9;
            margin-top: 10px;
            margin-bottom: 30px;

            @media screen and (min-width: 768px) {
                font-size: 2.3rem;
            }
        }

        img{
            max-width: 60%;
        }
    }
}

.home_logos {

    .partners{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; 

        img{
            height: 70px;
        }
    }
}