@import '../base/variables.scss';

.home_banner {

    position: relative;


    .image1900 {
        display: none;
        width: 100%;

        @media screen and (min-width: 1601px) {
            display: block;
        }
    }

    .image1280 {
        display: none;
        width: 100%;

        @media screen and (min-width: 1001px) and (max-width:1600px) {
            display: block;
        }
    }

    .image800 {
        display: none;
        width: 100%;

        @media screen and (min-width: 767px) and (max-width:1000px) {
            display: block;
        }
    }

    .image420 {
        display: block;
        width: 100%;

        @media screen and (min-width: 767px) {
            display: none;
        }
    }

    .copy1900 {
        position: absolute;
        bottom: 0;
        display: none;
        width: 98vw;

        @media screen and (min-width: 1601px) {
            display: block;
        }
    }

    .copy1280 {
        position: absolute;
        bottom: 0;
        display: none;
        width: 98vw;

        @media screen and (min-width: 1001px) and (max-width:1600px) {
            display: block;
        }
    }

    .copy800 {
        position: absolute;
        bottom: 0;
        width: 98vw;
        display: none;

        @media screen and (min-width: 767px) and (max-width:1000px) {
            display: block;
        }
    }

    .copy420 {
        position: absolute;
        bottom: 0;
        width: 98vw;

        @media screen and (min-width: 767px) {
            display: none;
        }
    }

    // .slide{
    //     padding-right:1px;
    // }

    .register_today {
        position: fixed;
        top: 180px;
        right: 0; //calc(1%);
        z-index: 9;

        img {
            width: 45px;

            @media screen and (min-width: 767px) {
                width: 60px;
            }
        }
    }

    .navigation {
        display: flex;
        justify-content: center;
        margin-top: -70px;
        height: 70px;

        .arrow {
            background-color: transparent;
            width: 24px;
        }

        .next {
            display: none;
            margin-left: 35px;
            z-index: 2;
        }

        .prev {
            display: none;
            margin-right: 35px;
            z-index: 2;
        }

        @media screen and (max-width: 600px) {
            display: none;
        }
    }

    .dots {
        position: relative;
        margin-top: -78px;
        height: 75px;

        li button:before {
            font-size: 14px;
            color: white;
        }
    }

    // .copy {
    //     position:absolute;
    //     top:30vh;

    //     h2{
    //         max-width: 869px;
    //         font-size: 2rem;
    //         color:white;
    //         font-weight: 300;
    //         letter-spacing: 2px;
    //         line-height: 0.8;
    //         margin-top: 10px;
    //         margin-bottom: 30px;

    //         @media screen and (min-width: 768px) {
    //             font-size: 7rem;
    //             letter-spacing: 4px;
    //         }
    //     }
    //     h3{
    //         max-width: 1000px;
    //         font-size: 1.4rem;
    //         color:white;
    //         font-weight: 500;
    //         letter-spacing: 2px;
    //         line-height: 0.9;
    //         margin-top: 10px;
    //         margin-bottom: 40px;

    //         @media screen and (min-width: 768px) {
    //             font-size: 2rem;
    //         }
    //     }

    //     img{
    //         max-width: 60%;
    //     }

    //     a, href{
    //         padding: 20px 40px;
    //         color: $blue;
    //         background-color: white !important;
    //         border-radius: 40px;
    //         border:white solid 1px;
    //         font-weight: 500;
    //         &:hover{
    //             color: $medBlue;
    //         }
    //     }
    //}
}