.infoSectionVideoModal {
    h4 {
        font-size: 2.5rem;
        max-width: 320px;
    }

    .panes {
        @media screen and (min-width: 1024px) {
            display: flex;
            justify-content: space-between;
        }

        hr {
            height: 1px;
        }

        .image {
            cursor: pointer;
            margin: 50px 0;
        }

        .left {
            width: 50%;

        }

        .right {
            width: 40%;
        }
    }
}