@import '../base/variables.scss';

.card {
    width: 100%;

    &_image {
        width: 100%;
    }

    &_copy {
        padding: 30px 20px 60px 20px;

        p {
            text-transform: uppercase;
            color: $lightBlue;
            margin-bottom: 0;
            font-weight: 400;
        }

        h3 {
            font-size: 2.25rem;
            line-height: calc(35/40);
            font-weight: 400;
            margin-bottom: 0;
        }

        a {
            h3:hover {
                color: $darkBlue;
            }
        }

        .cta {
            margin-top: 50px;
        }
    }
}