@import '../base/variables.scss';

.filters {
    margin-bottom: 50px;

    .mobileSortDropdown {
        padding-right: 30px;
        background-image: url('/img/arrow-down.svg');
        background-position: right center;
        background-size: 11px;
        background-repeat: no-repeat;

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }

    .buttons {
        display: none;

        &.active {
            display: block;
            padding-left: 12px;
        }

        @media screen and (min-width: 1024px) {
            display: block;
            padding-left: 0;
        }

    }

    button {
        display: block;
        padding: 10px 0;
        background: none;
        text-transform: uppercase;
        font-size: 1.125rem;
        font-weight: 700;
        color: $darkBlue;

        @media screen and (min-width: 1024px) {
            display: inline;
            margin-right: 30px;
        }

        &:hover,
        &.active {
            color: $darkGray;
        }
    }

}