@import '../base/variables.scss';

.next_panel {
    background-color: $darkGray;
    color: white;

    h2 {
        margin-bottom: 40px;
        font-size: 2.4rem;

        @media screen and (min-width: 768px) {
            font-size: 3.375rem;
        }

        @media screen and (min-width: 1024px) {
            font-size: 7rem;
        }

        span {
            display: block;

            &:nth-child(4n+1) {
                color: $lightBlue;
            }

            &:nth-child(4n+2) {
                color: $medBlue;
            }

            &:nth-child(4n+3) {
                color: $blue;
            }

            &:nth-child(4n+4) {
                color: $blue;
            }
        }
    }

    h3 {
        text-transform: uppercase;
        font-size: 1.5rem;
        margin-bottom: 40px;
        font-weight: 400;

        @media screen and (min-width: 768px) {
            font-size: 2rem;
        }
    }

    ul {
        list-style: none;
        margin-left: 0;
        font-size: 1.1rem;
        line-height: calc(40/27);
        text-transform: uppercase;
        margin-bottom: 0;

        @media screen and (min-width: 768px) {
            font-size: 1.7rem;
        }

        li {
            span.dash {
                color: $blue;
            }

            a {
                &:hover {
                    color: $blue;
                }
            }
        }
    }
}