@import '../base/variables.scss';

.testimonial_slider {
    .slider {
        padding-bottom: 40px;

        &_slide {
            border-top: 1px solid $lightGray;
            border-bottom: 1px solid $lightGray;
            width: 100%;
            padding: 50px 0;

            .quote {

                p,
                ol,
                ul {
                    font-size: 1.5rem;
                    color: $blue;
                    line-height: calc(34/24);
                    font-weight: 400;
                }
            }

            .attribute {
                font-weight: 500;
                font-size: 1.125rem;
                text-align: right;
                margin-bottom: 0;
            }

            .sub_attribute {
                font-size: 1.125rem;
                text-align: right;
                margin-bottom: 0;
            }
        }

        .bullets {

            span {
                &:global(.flicking-pagination-bullet-active) {
                    background-color: $blue;
                }
            }
        }
    }
}