@import '../base/variables.scss';

.three_sixty_slider {

    .top {
        margin-bottom: 50px;

        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
        }

        h2 {
            max-width: 350px;

            @media screen and (min-width: 768px) {
                margin-bottom: 0;
            }
        }

        .cta {

            @media screen and (min-width: 768px) {
                margin-left: 70px;
            }
        }
    }

    .slider {
        .slide {
            width: 100%;

            @media screen and (min-width: 1200px) {
                width: 25%;
            }
        }

        :global(.slick-dots) {
            li {
                width: auto;
                height: auto;
                margin: 0 7px;

                button {
                    width: 16px;
                    height: 16px;
                    background-color: $lightGray;
                    border-radius: 8px;
                    transform: scale(1);
                    transition: all 200ms;

                    &:before {
                        content: '';
                    }
                }
            }

            :global(.slick-active) {
                button {
                    background-color: $blue;
                    transform: scale(1.2);
                }
            }
        }
    }
}