@import '../base/variables.scss';

section.tile_slider {
    .slider_container {
        position: relative;

        .slider {
            display: grid;
            grid-template-columns: 1fr;
            gap: 60px 40px;

            @media screen and (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }

            @media screen and (min-width: 1024px) {
                display: block;
                border-top: 1px solid $lightGray;
                border-bottom: 1px solid $lightGray;
            }


            .slide {

                &_content {
                    @media screen and (min-width: 1024px) {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 40px 150px;
                    }

                    &_image {
                        width: 100%;
                        margin-bottom: 40px;

                        @media screen and (min-width: 1024px) {
                            width: 200px;
                            margin-bottom: 0;
                        }
                    }

                    &_copy {
                        text-transform: uppercase;

                        @media screen and (min-width: 1024px) {
                            flex: 1;
                            padding-left: 50px;
                        }

                        h3 {
                            font-size: 1.875rem;
                            margin-bottom: 8px;
                            color: $darkBlue;
                            line-height: 1;
                            font-weight: 200;

                            @media screen and (min-width: 1024px) {
                                font-size: 3rem;
                                margin-bottom: 18px;
                            }

                            @media screen and (min-width: 1400px) {
                                font-size: 5rem;
                            }
                        }

                        h4 {
                            font-size: 1.125rem;
                            line-height: calc(42/32);
                            margin-bottom: 0;
                            font-weight: 200;

                            @media screen and (min-width: 1024px) {
                                font-size: 1.5rem;
                            }

                            @media screen and (min-width: 1400px) {
                                font-size: 2rem;
                            }
                        }
                    }
                }

            }
        }

        .navigation {
            display: none;

            @media screen and (min-width: 1024px) {
                display: block;

                .arrow {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background: none;

                    &:hover {
                        transform: translateY(-50%) scale(1.1);
                    }

                    &.next {
                        right: 0;
                    }

                    &.prev {
                        left: 0;
                    }
                }
            }
        }
    }
}