.whats_new {
  h2 {
    padding-top: 60px;
  }
  .grid {
    @media screen and (min-width: 1180px) {
      display: grid;
      grid-template-columns: 3fr 7fr;
    }
    .right {
      position: relative;
      .builder_image {
        position: absolute;
        top: 0;
      }
    }
  }
}
