@import '../base/variables.scss';

html {
    scroll-behavior: smooth;
}

.container {
    width: 92%;
    max-width: 1480px;
    margin: 0 auto;

    &.full-width {
        width: 98%;
        max-width: none;
    }
}

.content {
    padding: 45px 0;

    @media screen and (min-width: 768px) {
        padding: 60px 0;
    }

    &.fat {
        padding-bottom: 90px;

        @media screen and (min-width: 768px) {
            padding: 120px 0;
        }
    }

    &.no-top {
        padding-top: 0;
    }

    &.no-bottom-sm {
        padding-bottom: 0;

        @media screen and (min-width: 768px) {
            padding-bottom: 60px;
        }
    }

    &.override-top {
        padding-top: 45px 0 !important;

        @media screen and (min-width: 768px) {
            padding: 60px 0 !important;
        }
    }
}

section:first-child {
    .content {
        padding-top: 0;
    }
}

.w-100 {
    width: 100%;
}

.hamburger {
    border: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 26px;
    height: 21px;
    padding: 0;
    cursor: pointer;

    .ham-bar {
        width: 100%;
        height: 2px;
        border-radius: 1px;
        background-color: $blue;
    }
}

.divider {
    width: 183px;
    height: 13px;
    background-image: url('/img/divider.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 70px 0;

    &:last-child {
        margin-bottom: 0;
    }
}

a,
button {
    &.btn {
        display: inline-block;
        text-transform: uppercase;
        min-width: 180px;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        padding: 8px;
        border-radius: 16px;
        border: 1px solid $darkGray;
        color: $darkGray;
        background: none;

        &:hover {
            background-color: $darkGray;
            color: white;
        }

        &.white {
            border-color: white;
            color: white;

            &:hover {
                background-color: white;
                color: $darkGray;
            }
        }

        &.solid-white {
            background-color: white;

            &:hover {
                background-color: $darkGray;
            }
        }
    }
}

img {
    display: block;
    height: auto;
}

hr {
    width: 100%;
    height: 1px;
    background-color: $lightGray;
    border: 0;
    margin: 50px 0;
}

.load-more {
    width: 100%;
    display: flex;

    hr {
        flex: 1;
    }

    button {
        text-align: center;
        background: none;
        text-transform: uppercase;
        color: $darkBlue;
        padding: 40px;

        &:hover {
            color: $darkGray;
        }
    }
}

.social-icon{
    display: inline-block;
    width: 25px;
    padding-right: 10px;
}

.play-circle {
    width: 39px;
    height: 39px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-circle.offset {
    top: 44%;
}